:root{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-size: 1.6rem;
    font-family:  Roboto,open sans, sans-serif;
    background: #D5EFF2;
}
#container{
    background-color: #ffefef;
}

#section1{
    position: fixed;
    top: 0;
    width: 100%;
    background: #211;
    color: #fff;
}

#backdrop{
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.7;
    z-index: 5;
    position: fixed;
    display: none;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem;
    transition: 0.3s;
}
#navbar ul{
    display: flex;
    flex-direction: row;
}
#navbar ul li{
    padding: 2rem 2rem;
    list-style: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
    color: #fff;
}
#clear-nav{
    padding: 2rem 2rem;
}
#column1,#column2{
    padding: 0rem 0rem;
}
#section-side{
    position: absolute;
    top: 0;
    right: 0;
    background: #211;
    color: #D5EFF2;
    padding: 2rem 0srem;
    font-weight: 500;
    transition: 0.3s;
    display: none;
}
#sidebar{
    padding: 2rem 0rem;
}
#section-side ul li{
    list-style: none;
    padding: 0rem 6rem 0rem 3rem;
    margin: 2rem 0rem;
    display: block;
    cursor: pointer;
}

#close-icon-sidebar{
    display: flex;
    justify-content: right;
    padding-bottom: 2rem;
}

#account-ico{
    display: block;
}
#close-ico{
    display: block;
    cursor: pointer;
    padding: 0rem 3rem;
}
#menu-ico{
    display: none;
    cursor: pointer;
}

#section2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#add-profile-form{
    display: none;
    position: fixed;
    top: 12rem;
    width: 50rem;
    padding: 3rem;
    background: #211;
    color: #D5EFF2;
    border-radius: 0.5rem;
    z-index: 6;
}
#add-profile-form label{
    display: inline-block;
    width: 29%;
    font-size: 1.7rem;
    padding: 1rem;
}

#add-profile-form input{
    display: inline-block;
    width: 65%;
    font-size: 1.7rem;
    padding: 0.8rem;
    margin :1rem;
    outline: none;
    border-radius: 0.5rem;
}

#add-profile-form input::placeholder{
    font-size: 1.5rem;
}

#add-profile-form button{
    width: 46%;
    height: 5rem;
    background: #f80;
    border: none;
    font-weight: bold;
    border-radius: 0.3rem;
    font-size: 1.6rem;
    margin: 0.5rem;
    margin-top: 2rem;
}

.profiles{
    margin: 10rem auto;
    display: flex;
    flex-wrap: wrap;
    flex: 7;
}
#profile-image{
    flex: 1.5;
}
#pro-img{
    width: 100%;
    object-fit:cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    max-height: 17rem;
}
#desc{
    flex: 1;
    padding: 2rem;
    height: 20rem;
}
.profile{
    margin: 3rem 0rem;
    margin-left: 3rem;
    width: 20rem;
    color: #D5EFF2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #211;
    border: none;
    border-radius: 0.5rem;
}

/* .profile  {
    font-size: 1.7rem;
    margin: 0.6rem;
} */

#s2-content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}


.lead{
    font-size: 2rem;
    font-weight: 400;
    margin: 0rem 0rem;
    font-family: Raleway, open sans;
}
.lead + div,.lead +div + div{
    font-size:1.4rem;
    margin: 1rem;
}

.add-profiles{
    position: sticky;
    top: 15;
    left: 8;
    margin: 10rem auto;
    flex: 3;
}

#add-profile{
    position: fixed;
    flex: 1;
    margin: 3rem 3rem;
    min-width: 20rem;
    max-width: inherit;
    background: #211;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2rem;
    padding: 14rem 0rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

#add-profile:hover{
    background:#252;
    transition: 0.2ss;
}

#section3{
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    padding: 1.5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #211;
    color:#fff;
}